# Environment variables
.env

# Virtual environments
venv/
.env/
.venv/

# Downloaded scraper files
downloaded_files/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Selenium / drivers
chromedriver
chromedriver.exe
geckodriver
geckodriver.exe
driver_fixing.lock

# Temporary files
*.tmp
*.bak
